@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "MonumentExtendedRegular";
  src: url("/fonts/MonumentExtendedRegular.oft") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtendedUltrabold";
  src: url("/fonts/MonumentExtendedUltrabold.oft") format("opentype");
  font-weight: bold;
  font-style: normal;
} */

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-archivo);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: flex;
  animation: marquee 25s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Add responsiveness for speed and sizing */
@media (max-width: 640px) {
  .marquee-item {
    width: 50%;
  }
  .marquee {
    animation-duration: 5s; /* Faster on mobile */
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .marquee-item {
    width: 33.333%;
  }
  .marquee {
    animation-duration: 10s; /* Slightly faster on tablets */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .marquee-item {
    width: 25%;
  }
}

@media (min-width: 1025px) {
  .marquee-item {
    width: 20%;
  }
}
